*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb
}
::after,
::before {
  --tw-content: ''
}
:host,
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: "Open Sans",sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent
}
body {
  margin: 0;
  line-height: inherit
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}
a {
  color: inherit;
  text-decoration: inherit
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none
}
:-moz-focusring {
  outline: auto
}
:-moz-ui-invalid {
  box-shadow: none
}
progress {
  vertical-align: baseline
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
summary {
  display: list-item
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0
}
fieldset {
  margin: 0;
  padding: 0
}
legend {
  padding: 0
}
menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0
}
dialog {
  padding: 0
}
textarea {
  resize: vertical
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #9ca3af
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af
}
[role=button],
button {
  cursor: pointer
}
:disabled {
  cursor: default
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle
}
img,
video {
  max-width: 100%;
  height: auto
}
[hidden] {
  display: none
}
body {
  background-color: #0d1018;
  font-family: FSElliotPro,Arial,sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  color: #848098;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
@media (min-width:1024px) and (max-height:1200px) {
  body {
    background-color: #110f1e
  }
}
*,
::after,
::before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000
}
::-ms-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px
}
@media (min-width:100%) {
  .container {
    max-width: 100%;
    padding-right: 16px;
    padding-left: 16px
  }
}
@media (min-width:768px) {
  .container {
    max-width: 768px;
    padding-right: 20px;
    padding-left: 20px
  }
}
@media (min-width:1024px) {
  .container {
    max-width: 1024px;
    padding-right: 30px;
    padding-left: 30px
  }
}
@media (min-width:1280px) {
  .container {
    max-width: 1280px;
    padding-right: 40px;
    padding-left: 40px
  }
}
@media (min-width:1440px) {
  .container {
    max-width: 1440px;
    padding-right: 50px;
    padding-left: 50px
  }
}
.relative {
  position: relative
}
.z-10 {
  z-index: 10
}
.z-20 {
  z-index: 20
}
.z-30 {
  z-index: 30
}
.block {
  display: block
}
.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
.flex-1 {
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%
}
.flex-none {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none
}
.resize {
  resize: both
}
@font-face {
  font-family: FSElliotPro;
  font-display: swap;
  font-weight: 400;
  src: url(../fonts/FSElliotPro-Regular.woff2) format("woff2")
}
@font-face {
  font-family: FSElliotPro;
  font-display: swap;
  font-weight: 700;
  src: url(../fonts/FSElliotPro-Bold.woff2) format("woff2")
}
@font-face {
  font-family: FSElliotPro;
  font-display: swap;
  font-weight: 900;
  src: url(../fonts/FSElliotPro-Heavy.woff2) format("woff2")
}
.svg-image-faq,
.svg-image-logo,
.svg-image-mail,
.svg-image-vector-arrow {
  background: url(../images/sprites/main.svg) no-repeat
}
.svg-image-faq {
  background-position: 91.7525773196% 47.1264367816%;
  background-size: 706.25% auto;
  width: 16px
}
.svg-image-faq:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 106.25%
}
.svg-image-faq-dims {
  width: 16px;
  height: 17px
}
.svg-image-logo {
  background-position: 0 100%;
  background-size: 166.1764705882% auto;
  width: 68px
}
.svg-image-logo:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 92.6470588235%
}
.svg-image-logo-dims {
  width: 68px;
  height: 63px
}
.svg-image-mail {
  background-position: 73.9130434783% 47.1264367816%;
  background-size: 538.0952380952% auto;
  width: 21px
}
.svg-image-mail:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 80.9523809524%
}
.svg-image-mail-dims {
  width: 21px;
  height: 17px
}
.svg-image-vector-arrow {
  background-position: 0 0;
  background-size: 100% auto;
  width: 113px
}
.svg-image-vector-arrow:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 36.2831858407%
}
.svg-image-vector-arrow-dims {
  width: 113px;
  height: 41px
}
.image-by-height {
  width: auto
}
.image-by-height:before {
  content: none
}
.image-by-height > svg {
  height: inherit
}
.image-by-height > img {
  height: inherit!important;
  vertical-align: top!important;
  margin: 0!important;
  padding: 0!important;
  max-width: none!important;
  max-height: none!important;
  border: 0!important;
  opacity: 0!important
}
* {
  outline: 0!important
}
@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal
}
:root {
  --swiper-theme-color: #007aff
}
:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block
}
.swiper-vertical > .swiper-wrapper {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
  box-sizing: content-box
}
.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y
}
.swiper-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  display: block
}
.swiper-slide-invisible-blank {
  visibility: hidden
}
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto
}
.swiper-autoheight .swiper-wrapper {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  transition-property: height,-webkit-transform;
  transition-property: transform,height;
  transition-property: transform,height,-webkit-transform
}
.swiper-backface-hidden .swiper-slide {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
  perspective: 1200px
}
.swiper-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d
}
.swiper-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px
}
.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d
}
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start
}
.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  -webkit-scroll-snap-type: x mandatory;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory
}
.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  -webkit-scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  -webkit-scroll-snap-type: none;
  -ms-scroll-snap-type: none;
  scroll-snap-type: none
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none
}
.swiper-css-mode.swiper-centered > .swiper-wrapper::before {
  content: "";
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-order: 9999;
  -ms-flex-order: 9999;
  order: 9999
}
.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
  margin-inline-start: var(--swiper-centered-offset-before)
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after)
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
  margin-block-start: var(--swiper-centered-offset-before)
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after)
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0,0,0,.15)
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color,var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent
}
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader,
.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader {
  -webkit-animation: swiper-preloader-spin 1s infinite linear;
  animation: swiper-preloader-spin 1s infinite linear
}
.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff
}
.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000
}
@-webkit-keyframes swiper-preloader-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@keyframes swiper-preloader-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
.main {
  height: var(--appheight);
  position: relative;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}
@media (max-width:1023px) {
  .main {
    display: block;
    min-height: 728px;
    height: 1060px
  }
}
@media (max-width:767px) {
  .main {
    height: 780px
  }
}
.swiper {
  height: 100%
}
.swiper .swiper-buttons {
  display: block;
  position: absolute;
  top: 90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}
@media screen and (max-width:1700px) {
  .swiper .swiper-buttons {
    top: 70px
  }
}
@media screen and (max-width:1366px) {
  .swiper .swiper-buttons {
    top: 55px
  }
}
@media screen and (max-width:1024px) {
  .swiper .swiper-buttons {
    top: 45px
  }
}
@media screen and (max-width:767px) {
  .swiper .swiper-buttons {
    top: 15px
  }
}
@media screen and (max-width:480px) {
  .swiper .swiper-buttons {
    top: 35px
  }
}
.swiper .swiper-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #fff;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all .3s ease
}
@media screen and (max-width:1024px) {
  .swiper .swiper-text {
    font-size: 20px;
    line-height: 24px
  }
}
@media screen and (max-width:480px) {
  .swiper .swiper-text {
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    text-align: center
  }
}
.swiper .swiper-button-prev {
  position: relative;
  top: 3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 30px;
  height: 31px;
  transition: all .3s ease
}
@media screen and (max-width:767px) {
  .swiper .swiper-button-prev {
    width: 25px;
    height: 26px
  }
}
@media screen and (max-width:480px) {
  .swiper .swiper-button-prev {
    width: 20px;
    height: 21px
  }
}
.swiper .swiper-button-next {
  display: block;
  position: relative;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 30px;
  height: 31px;
  transition: all .3s ease
}
@media screen and (max-width:767px) {
  .swiper .swiper-button-next {
    width: 25px;
    height: 26px
  }
}
@media screen and (max-width:480px) {
  .swiper .swiper-button-next {
    width: 20px;
    height: 21px
  }
}
.swiper .swiper-slide {
  height: 100%;
  -webkit-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite
}
.decor-left {
  width: 958px;
  border-radius: 50%;
  background: rgba(240,26,193,.37);
  -webkit-filter: blur(200px);
  filter: blur(200px);
  position: absolute;
  top: -110px;
  left: -864px;
  z-index: 20;
  pointer-events: none
}
@media (min-width:1024px) and (max-height:1200px) {
  .decor-left {
    width: calc(480px + (478) * (100vh - 500px)/ 470);
    top: calc(-55px + (-55) * (100vh - 500px)/ 470);
    left: calc(-432px + (-432) * (100vh - 500px)/ 470)
  }
}
@media (min-width:1700px) {
  .decor-left {
    width: 958px;
    top: -110px;
    left: -864px
  }
}
@media (max-width:767px) {
  .decor-left {
    display: none
  }
}
.decor-left::after {
  content: "";
  display: block;
  padding-top: 100%
}
.decor-right {
  width: 1145px;
  border-radius: 50%;
  top: 307px;
  right: -608px;
  opacity: .4;
  background: rgba(143,0,255,.43);
  -webkit-filter: blur(200px);
  filter: blur(200px);
  position: absolute;
  z-index: 20;
  pointer-events: none
}
@media (min-width:1024px) and (max-height:1200px) {
  .decor-right {
    width: calc(522px + (523) * (100vh - 500px)/ 470);
    top: calc(158px + (149) * (100vh - 500px)/ 470);
    right: calc(-304px + (-304) * (100vh - 500px)/ 470)
  }
}
@media (min-width:1700px) {
  .decor-right {
    width: 1045px;
    top: 307px;
    right: -608px
  }
}
@media (max-width:767px) {
  .decor-right {
    display: none
  }
}
.decor-right::after {
  content: "";
  display: block;
  padding-top: 100%
}
.maw1440 {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 64px
}
@media screen and (max-width:1280px) {
  .maw1440 {
    padding-left: 20px;
    padding-right: 40px
  }
}
@media (max-width:1023px) {
  .maw1440 {
    padding-right: 20px
  }
}
.case-content {
  z-index: 20
}
@media (max-width:1023px) {
  .case-content {
    text-align: center;
    padding-top: calc(var(--appheight) - 250px);
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 54px
  }
}
.case-content h1 {
  color: #fff;
  font-weight: 900;
  font-size: 70px;
  line-height: 110%;
  margin-bottom: 12px
}
@media (max-width:1023px) {
  .case-content h1 {
    font-size: 42px
  }
}
@media (min-width:1024px) and (max-height:1200px) {
  .case-content h1 {
    font-size: calc(35px + (35) * (100vh - 500px)/ 470)
  }
}
@media (min-width:1700px) {
  .case-content h1 {
    font-size: 70px
  }
}
@media (max-width:1023px) {
  .case-content h1 br {
    display: none
  }
}
@media (max-width:767px) {
  .case-content h1 {
    font-size: 32px
  }
}
.case-content p {
  color: #6c6592;
  font-size: 32px;
  line-height: 140%;
  font-weight: 700;
  margin-bottom: 12px
}
@media (min-width:1024px) and (max-height:1200px) {
  .case-content p {
    font-size: calc(16px + (16) * (100vh - 500px)/ 470)
  }
}
@media (min-width:1700px) {
  .case-content p {
    font-size: 32px
  }
}
@media (max-width:1023px) {
  .case-content p {
    display: none
  }
  .case-area-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0
  }
}
.case-area {
  position: absolute;
  right: 0;
  top: -50px;
  width: 818px
}
@media (max-width:1023px) {
  .case-area {
    width: 100%;
    top: 0;
    height: 890px
  }
}
@media (min-width:1024px) and (max-height:1200px) {
  .case-area {
    top: calc(-25px + (-25) * (100vh - 500px)/ 470);
    width: calc(409px + (409) * (100vh - 500px)/ 470)
  }
}
@media (min-width:1700px) {
  .case-area {
    top: -50px;
    width: 818px
  }
}
@media (max-width:767px) {
  .case-area {
    min-height: 560px;
    height: 640px
  }
}
.case-area::after {
  content: "";
  display: block;
  padding-top: 100%
}
@media (max-width:1023px) {
  .case-area::after {
    content: none
  }
}
.case-bg-img {
  max-width: none;
  position: absolute;
  bottom: -163px;
  width: 2676px;
  right: -731px
}
@media (max-width:1023px) {
  .case-bg-img {
    bottom: -133px;
    width: 1943px;
    right: 50%;
    -webkit-transform: translateX(41%);
    transform: translateX(41%)
  }
}
@media (min-width:1024px) and (max-height:1200px) {
  .case-bg-img {
    bottom: calc(-80px + (-83) * (100vh - 500px)/ 470);
    width: calc(1338px + (1338) * (100vh - 500px)/ 470);
    right: calc(-365px + (-366) * (100vh - 500px)/ 470)
  }
}
@media (min-width:1700px) {
  .case-bg-img {
    bottom: -163px;
    width: 2676px;
    right: -731px
  }
}
@media (max-width:767px) {
  .case-bg-img {
    bottom: -100px;
    width: 1354px;
    right: 50%;
    -webkit-transform: translateX(41%);
    transform: translateX(41%);
    max-width: none
  }
}
.case-item-img-wrapper {
  width: 100%;
  position: absolute;
  right: -84px;
  top: 42%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none
}
@media (max-width:1023px) {
  .case-item-img-wrapper {
    right: 0;
    top: auto;
    bottom: 1%;
    -webkit-transform: none;
    transform: none
  }
}
@media (min-width:1024px) and (max-height:1200px) {
  .case-item-img-wrapper {
    right: calc(-42px + (-42) * (100vh - 500px)/ 470)
  }
}
@media (min-width:1700px) {
  .case-item-img-wrapper {
    right: -84px
  }
}
@media (max-width:767px) {
  .case-item-img-wrapper {
    bottom: 1%;
    width: 120%;
    left: -10%
  }
}
.case-item-img-wrapper img {
  width: 100%
}
@media (max-width:1023px) {
  .case-item-img-wrapper img {
    width: 74%;
    margin: 0 auto
  }
}
.case-item-img {
  -webkit-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0);
    transform: translatey(0)
  }
  50% {
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px)
  }
  100% {
    -webkit-transform: translatey(0);
    transform: translatey(0)
  }
}
@keyframes float {
  0% {
    -webkit-transform: translatey(0);
    transform: translatey(0)
  }
  50% {
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px)
  }
  100% {
    -webkit-transform: translatey(0);
    transform: translatey(0)
  }
}
.splide-weapons-wrapper {
  position: absolute;
  left: 23%;
  width: 73%;
  top: -11%;
  z-index: 14;
  bottom: 43%;
  overflow: hidden
}
@media (max-width:1023px) {
  .splide-weapons-wrapper {
    left: 23%;
    width: 56%;
    top: 237px;
    bottom: 246px
  }
}
@media (max-width:767px) {
  .splide-weapons-wrapper {
    left: 19%;
    width: 63%;
    top: 33%;
    bottom: 24%
  }
}
.splide-weapons-wrapper img {
  position: absolute;
  bottom: 0;
  left: 0
}
.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 62px;
  z-index: 30
}
@media (min-width:1024px) and (max-height:1200px) {
  .header {
    padding-top: calc(20px + (42) * (100vh - 500px)/ 470)
  }
}
@media (min-width:1700px) {
  .header {
    padding-top: 62px
  }
}
@media (max-width:767px) {
  .header {
    padding-top: 48px
  }
}
@media (max-width:1023px) {
  .header .maw1440 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}
.header .container {
  max-width: none;
  padding-left: 65px;
  padding-right: 65px
}
@media (max-width:1279px) {
  .header .container {
    padding-left: 20px;
    padding-right: 20px
  }
}
@media (min-width:1024px) and (max-height:1200px) {
  .logo {
    width: calc(150px + (70) * (100vh - 500px)/ 470)
  }
}
@media (min-width:1700px) {
  .logo {
    width: 220px
  }
}
@media (max-width:767px) {
  .logo {
    width: 150px
  }
}
.footer {
  background-color: rgba(17,15,29,.6);
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden
}
.footer img {
  display: block
}
.footer__smoke {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}
@media (max-width:1023px) {
  .footer__smoke {
    display: none
  }
}
.footer__wrap {
  padding: 52px 0 44px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative
}
@media (max-width:1023px) {
  .footer__wrap {
    display: block;
    padding: 32px 0 38px
  }
}
.footer__bullet {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  z-index: -1
}
@media (max-width:1023px) {
  .footer__bullet {
    display: none
  }
}
.footer__main {
  padding-left: 100px;
  padding-right: 30px;
  position: relative
}
@media (max-width:1279px) {
  .footer__main {
    padding-left: 0
  }
}
@media (max-width:1023px) {
  .footer__main {
    padding-right: 0;
    text-align: center;
    margin-bottom: 10px
  }
}
.footer__copy {
  display: block;
  margin-bottom: 12px
}
@media (max-width:1279px) {
  .footer__copy {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
  }
}
@media (max-width:1023px) {
  .footer__copy {
    margin-bottom: 5px
  }
}
@media (max-width:479px) {
  .footer__copy {
    font-size: 12px
  }
}
.footer__logo {
  position: absolute;
  left: 0;
  top: 0
}
@media (max-width:1279px) {
  .footer__logo {
    position: static;
    width: 30px;
    height: 30px;
    margin-right: 10px
  }
  .footer__logo .icon {
    width: 100%;
    height: 100%
  }
}
.footer__info {
  color: #78758c;
  margin-bottom: 28px
}
@media (max-width:1023px) {
  .footer__info {
    margin-bottom: 10px
  }
}
@media (max-width:767px) {
  .footer__info {
    font-size: 10px
  }
}
.footer__info p {
  margin: 0
}
.footer__about {
  color: #4d4a64
}
@media (max-width:767px) {
  .footer__about {
    font-size: 13px
  }
}
.footer__about p {
  margin: 0
}
.footer__second {
  max-width: 580px;
  width: 100%
}
@media (max-width:1279px) {
  .footer__second {
    max-width: 500px
  }
}
@media (max-width:1023px) {
  .footer__second {
    max-width: none
  }
}
.footer__box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px
}
@media (max-width:1023px) {
  .footer__box {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px
  }
}
.footer__payment {
  max-width: 250px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -10px
}
@media (max-width:1023px) {
  .footer__payment {
    margin: 0 auto
  }
}
.footer__payment-image {
  margin-right: 18px;
  margin-bottom: 10px
}
.footer__payment-image:nth-child(3n) {
  margin-right: 0
}
.footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
@media (max-width:1023px) {
  .footer__links {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 16px
  }
}
.footer__links-item:not(:last-child) {
  margin-right: 30px
}
.footer__link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #4d4a64
}
.footer__link .icon {
  margin-right: 10px
}
.footer .container {
  max-width: 1360px;
  padding: 0 20px;
  margin: 0 auto
}
.footer-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
@media (max-width:1023px) {
  .footer-menu__list {
    display: block
  }
}
.footer-menu__item:not(:last-child) {
  margin-right: 30px
}
@media (max-width:1023px) {
  .footer-menu__item:not(:last-child) {
    margin: 0 0 15px
  }
}
.footer-menu__link {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #ef436c
}
@media (max-width:1023px) {
  .footer-menu__link {
    text-align: center
  }
}
@media (max-width:767px) {
  .footer-menu__link {
    font-size: 10px
  }
}
.button__l {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: absolute;
  left: 20px;
  top: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  padding-right: 20px;
  overflow: hidden;
  transition: width .2s
}
.button__r {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  height: 100%;
  position: absolute;
  right: 20px;
  top: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  padding-left: 20px;
  overflow: hidden;
  transition: width .2s
}
.button__main {
  padding: 11px 60px;
  background-color: #cd40a7;
  -webkit-clip-path: polygon(20px 0,calc(100% - 20px) 0,100% 50%,calc(100% - 20px) 100%,20px 100%,0 50%);
  clip-path: polygon(20px 0,calc(100% - 20px) 0,100% 50%,calc(100% - 20px) 100%,20px 100%,0 50%);
  transition: background-color .2s;
  position: relative;
  z-index: 3
}
@media (max-width:767px) {
  .button__main {
    padding: 10px 40px
  }
}
.button__l,
.button__r {
  width: 0
}
.button__l span {
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  display: block;
  height: 100%;
  width: 40px;
  -webkit-clip-path: polygon(0 50%,20px 0,100% 0,100% 100%,20px 100%);
  clip-path: polygon(0 50%,20px 0,100% 0,100% 100%,20px 100%);
  background-color: #cd40a7;
  margin-right: -20px
}
.button__l span:nth-child(1) {
  width: 80px;
  opacity: .2;
  margin-right: -60px
}
.button__l span:nth-child(2) {
  width: 60px;
  margin-right: -40px;
  opacity: .4
}
.button__l span:nth-child(3) {
  opacity: .6
}
.button__r span {
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  display: block;
  height: 100%;
  width: 40px;
  -webkit-clip-path: polygon(0 0,calc(100% - 20px) 0,100% 50%,calc(100% - 20px) 100%,0 100%);
  clip-path: polygon(0 0,calc(100% - 20px) 0,100% 50%,calc(100% - 20px) 100%,0 100%);
  background-color: #cd40a7;
  margin-left: -20px
}
.button__r span:nth-child(1) {
  width: 80px;
  opacity: .2;
  margin-left: -60px
}
.button__r span:nth-child(2) {
  width: 60px;
  margin-left: -40px;
  opacity: .4
}
.button__r span:nth-child(3) {
  opacity: .6
}
.button {
  display: inline-block;
  font-size: 32px;
  font-weight: 900;
  line-height: normal;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: top;
  position: relative;
  margin-top: 22px
}
@media (min-width:1024px) and (max-height:1200px) {
  .button {
    font-size: calc(16px + (16) * (100vh - 500px)/ 470)
  }
}
@media (min-width:1700px) {
  .button {
    font-size: 32px
  }
}
@media (max-width:767px) {
  .button {
    margin-top: 15px
  }
}
.button:hover .button__l,
.button:hover .button__r {
  width: 60px
}
.button:hover .button__main,
.button:hover span {
  background-color: #cd40a7
}
@media (max-width:1023px) {
  .md\:block {
    display: block
  }
  .md\:overflow-hidden {
    overflow: hidden
  }
}

.cookies-policy-banner {
	background: #211d35 url(../images/cookie-bg.png) center -76px;
	background-repeat: no-repeat;
	bottom: 0;
	height: auto;
	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: 200;
	color: #fff;
	font-weight: 400;
}
.cookies-policy-banner__inner-wrapper {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	margin: 0 auto;
	max-width: 1290px;
	padding: 0 15px;
}
.cookies-policy-banner__text-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 906px;
	width: 100%;
}
.cookies-policy-banner__text-block .icon-wrap {
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	max-height: 100px;
}
@media (max-width: 992px) {
	.cookies-policy-banner__text-block .icon-wrap {
		max-height: 80px;
	}
}
@media (max-width: 480px) {
	.cookies-policy-banner__text-block .icon-wrap {
		display: none;
	}
}
.cookies-policy-banner__text-block .text {
	-ms-flex-line-pack: baseline;
	align-content: baseline;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 30px 0 30px;
	max-width: 746px;
}
@media (max-width: 992px) {
	.cookies-policy-banner__text-block .text {
		margin: 0 15px 0 15px;
	}
}
@media (max-width: 480px) {
	.cookies-policy-banner__text-block .text {
		margin: 0 10px 0 0;
	}
}

.cookies-policy-banner__text-block .text .title {
	font-size: 22px;
	font-weight: 700;
	margin-top: 15px;
}
@media (max-width: 992px) {
	.cookies-policy-banner__text-block .text .title {
		font-size: 20px;
	}
}
@media (max-width: 480px) {
	.cookies-policy-banner__text-block .text .title {
		font-size: 18px;
	}
}
.cookies-policy-banner__text-block .text p {
	color: #ccabd8;
	font-size: 15px;
	margin: 5px 0;
	font-weight: 400;
}
@media (max-width: 992px) {
	.cookies-policy-banner__text-block .text p {
		font-size: 14px;
	}
}
.cookies-policy-banner__text-block .text p a {
	color: #a560ff;
}
.cookies-policy-banner__button-block {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	height: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.cookies-policy-banner__button-block .accept-cookie-button {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #5c49d0;
	-webkit-clip-path: polygon(
		12px 0,
		calc(100% - 12px) 0,
		100% 50%,
		calc(100% - 12px) 100%,
		12px 100%,
		0 50%
	);
	clip-path: polygon(
		12px 0,
		calc(100% - 12px) 0,
		100% 50%,
		calc(100% - 12px) 100%,
		12px 100%,
		0 50%
	);
	color: #fff;
	cursor: pointer;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	font-size: 16px;
	font-weight: 700;
	height: 56px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-width: 150px;
	padding: 0 15px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: unset;
	border: none;
	position: relative;
}
.button__content {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
.cookies-policy-banner__button-block .accept-cookie-button .check-icon {
	background-color: #fff;
	display: inline-block;
	height: 13px;
	margin-left: 10px;
	-webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M20 4.095 17.986 2 7.554 12.848 2.014 7.05 0 9.145 7.554 17z'/%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M20 4.095 17.986 2 7.554 12.848 2.014 7.05 0 9.145 7.554 17z'/%3E%3C/svg%3E");
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100%;
	mask-size: 100%;
	width: 18px;
}
/*# sourceMappingURL=maps/main.css.map */
